body{
    background: #343539;
    background-image: url("../img/bg_map.png");
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}


.navbar-inverse{
    background: #232428;
    border-top: 2px solid #F18352;
    border-bottom: 1px solid #444;
}

.navbar-inverse a.navbar-brand{
    color: #f18352;
    font: 30px 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    padding: 5px 20px;
}

.navbar-inverse .navbar-nav>.active>a{
    background: #111;
}

input[type="text"].form-control{
    background: #343539;
    border: none;
}

button[type="submit"].btn-default{
    background: #111;
    border: none;
    color: #fff;
    padding: 7.5px 15px;
}

#controls{
    background: #343539;
    margin-top: 54px;
    width: 300px;
    float: right;
    color: #fff;
    box-shadow: 0 0 20px #000;
}

#controls h3{
    margin: 0;
    background: #232428;
    padding: 10px;
    border-bottom: 1px solid #222;
    font: 20px 'Roboto';
    font-weight: 300;
}

#controls h3 span.glyphicon{
    font-size: 15px;
}

#controls .form-holder{
    margin: 10px;
}

#controls .form-holder > label{
    color: #aaa;
    text-shadow: 0 1px #000;
}


/* Filter ckehboxes */
#facilities-checkboxes{
    padding: 10px 15px;
}

#facilities-checkboxes input[type="checkbox"]{
    margin-right: 3px;
}

#facilities-checkboxes label{
    color: #dedede;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 0 1px 0 #000;
}


/* Filter icons table */
.filter-icon-set{
    width: 100%;
}

.filter-icon-set td{
    transition: all 0.6s ease;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 3px #000;
    border: 1px solid #232428;
    line-height: 50px;
}

.filter-icon-set td.selected{
    transition: all 0.6s ease;
    background: #dedede;
    color: #333;
   text-shadow: 0 1px 3px #fff;
    border: 1px solid #111;
}


/* Preset Links */
#presets ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

#presets ul li{
    cursor: pointer;
    color: #fff;
    background: #F18352;
    border-bottom: 1px solid #cd5e00;
    border-left: 1px solid #cd5e00;
    display: block;
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
}

#presets ul li.active{
    background: #cd5e00;
    box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 5px 0px inset;
}

#presets ul li.active p{
    height: 20px;
}


#presets ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

#presets ul li a.preset-edit{
    transition: all 1s ease;
    opacity: 0;
    float: right;
}

#presets ul li.active a.preset-edit{
    opacity: 1;
    float: right;
}

#presets ul li a:hover{
    text-decoration: none;
}

#presets ul li p{
    transition: all 1s ease;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
}

#presets ul li:hover p{
    height: 20px;
}


/* General Bootstrap Stuff */
.btn-group label{
    background: #F18352;
    border-color: #cd5e00;
}

.btn-group label:hover{
    background: #cd5e00;
    border-color: #cd5e00;
}

.btn-group label.active{
    background: #cd5e00;
    border-color: #cd5e00;
    box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 5px 0px inset;
}