body{
    background: #343539;
    background-image: url("../img/bg_map.png");
}


.navbar-inverse{
    background: #232428;
    border-top: 2px solid #F18352;
    border-bottom: 1px solid #444;
}

.navbar-inverse a.navbar-brand{
    color: #f18352;
    font: 30px 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    padding: 5px 20px;
}

.navbar-inverse .navbar-nav>.active>a{
    background: #111;
}

input[type="text"].form-control{
    background: #343539;
    border: none;
}

button[type="submit"].btn-default{
    background: #111;
    border: none;
    color: #fff;
    padding: 7.5px 15px;
}

#controls{
    background: #232428;
    margin-top: 52px;
    width: 300px;
    float: right;
}